:root {
    --bg: #fff;
    --text: #000;
    --border: #aaa;
    --active-game: #a00;
    --shame: #a0a;
    --loser: #666;
    --base: #00a;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: #000;
        --text: #eee;
        --border: #777;
        --active-game: #f55;
        --shame: #f5f;
        --loser: #aaa;
        --base: #eee;
    }
}

body {
    background-color: var(--bg);
    color: var(--text);
    display: flex;
    margin: 0.3em;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 11px;
    font-weight: bold;
    font-family: sans-serif;
    line-height: 1.3;
}

header {
    width: 100%;
    text-align: center;
    margin: .5em 0;
}

header a {
    color: var(--text);
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

body header.postseason {
    display: none;
}

body.postseason header.regular {
    display: none;
}

body.postseason header.postseason {
    display: block;
}

header .season, header .day, header .gameindex {
    display: inline-block;
    background-color: var(--text);
    color: var(--bg);
    min-width: 2.75ch;
    text-align: center;
}

header .day {
    min-width: 3.75ch;
}

.game {
    border: 1px solid var(--border);
    width: 11em;
    padding: 0.6em 1.1em;
    margin: 0.3em;
    display: flex;
    flex-direction: column;
}

body.postseason .game {
    width: 17.875em;
}

.top, .bottom {
    display: flex;
}

.top {
    justify-content: space-between;
}

.overview {
    padding-bottom: 0.5em;
}

.overview.active {
    color: var(--active-game);
}

.overview.shame {
    color: var(--shame);
}

.extra {
    font-style: italic;
    font-weight: normal;
}

.score {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.team {
    display: flex;
    align-items: baseline;
}

.team.away {
    margin-bottom: 0.25em;
}

.arrow {
    display: none;
    align-self: center;
}

.winner .arrow {
    display: block;
    height: 14.3px;
    width: 1.1em;
    margin-right: -1.1em;
}

.winner .arrow path {
    fill: var(--text);
}

.team.loser {
    color: var(--loser);
}

.team .emoji {
    font-size: 14.3px;
    line-height: 1;
    width: 14.3px;
    padding-right: 0.5em;
    align-self: center;
}

.team .seed {
    display: none;
    text-align: right;
    width: 1ch;
    padding-right: 1ch;
    font-size: 9px;
    color: var(--loser);
    font-weight: normal;
}

body.postseason .team .seed {
    display: block;
}

.team abbr {
    flex-grow: 1;
    text-decoration: none;
}

.team .score {
    text-align: right;
    padding-right: 0;
}

.bases {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    border-left: 1px dotted var(--border);
    padding-left: 1em;
    margin-left: 1em;
}

.game.complete .bases {
    display: none;
}

.bases svg {
    height: 1.75em;
    margin-bottom: 0.125em;
}

.bases path {
    fill: none;
    stroke: var(--base);
    stroke-width: 0.5;
    stroke-miterlimit: 10;
}

.outs {
    font-size: 8px;
    text-align: center;
}

.bases[data-first="true"] path.first {
    fill: var(--base);
}

.bases[data-second="true"] path.second {
    fill: var(--base);
}

.bases[data-third="true"] path.third {
    fill: var(--base);
}

.bases[data-fourth="true"] path.fourth {
    fill: var(--base);
}

.bases[data-has-fourth="false"] path.fourth {
    display: none;
}

.bases[data-has-fourth="false"] svg {
    margin-right: 0.5em;
}
